 body {
            background-color: white;
        }

        .cards-container {
            display: flex;
            gap: 20px;
            padding: 40px;
            justify-content: center;
            flex-wrap: wrap;
        }

        .card {
            width: 40%;
            border: 1px solid #ddd;
            padding: 20px;
        }
        nav{
            background-color: rgb(6, 65, 6); 
            padding: 15px 20px; 
            text-align: center;
        }
        .h1{
            color: #ffffff;
            font-size: 50px;
            margin-top: 0;
        }
        .h2{
            color: rgb(6, 65, 6); 
            padding: 20px 20px 10px 20px;
            border-bottom: 1px solid rgb(6, 65, 6);
            font-size: 26px ;
        }
        li.li{
            display: inline-flex;
            margin: 0 20px;
        }
        .footer{
            background-color: rgb(6, 65, 6); 
            text-align: center; 
            padding: 30px 20px; 
            color: #ffffff;
        }